---

---

<table class="w-full text-left">
  <thead
    class="sticky top-[10px] bg-main-black h-[120px] md:h-[150px] lg:h-[190px] align-bottom z-[1]"
  >
    <tr>
      <th class="py-4 pr-8 capitalize font-semibold text-sm w-[70px]"
        ><p>año</p></th
      >
      <th class="py-4 pr-8 capitalize font-semibold text-sm">proyecto</th>
      <th
        class="py-4 pr-8 capitalize font-semibold text-sm hidden sm:table-cell"
        >tecnologias</th
      >
      <th
        class="py-4 pr-8 capitalize font-semibold text-sm hidden lg:table-cell last:pr-0"
        >link</th
      >
    </tr>
  </thead>
  <tbody>
    <slot />
  </tbody>
</table>
