---
import ArrowBottom from "../Icon/ArrowBottom.astro";
import ArrowRightTop from "../Icon/ArrowRightTop.astro";
---

<div
  class="hero pt-36 px-4 md:px-10 lg:px-12 2xl:px-0 md:pt-44 lg:pt-48 flex flex-col gap-5 relative z-[2] max-w-7xl mx-auto"
>
  <div
    class="hero__noise opacity-60 mix-blend-overlay z-0 absolute block top-0 left-0 right-0 bottom-0 after:absolute after:w-full after:h-full after:top-0 after:left-0 w-full"
  >
  </div>
  <div
    class="hero__main-content flex flex-col gap-4 max-w-[600px] md:max-w-[700px] lg:max-w-[950px] xl:max-w-full mx-auto relative z-10"
  >
    <div
      class="hero__main-content__nombre flex gap-2 items-center sm:justify-center md:hidden"
    >
      <span
        class="hero__main-content__nombre__punto bg-white h-2 w-2 rounded-full"
      ></span>
      <span
        class="capitalize font-medium text-secondary-white tracking-tight text-[16px]"
        >diego aldao — desarrollador web</span
      >
    </div>
    <h1
      class="hero__main-content__title text-3xl md:text-[40px] md:leading-none sm:text-center lg:text-[52px] xl:text-[64px] 2xl:text-7xl flex flex-col font-semibold"
    >
      <span class="first-letter:uppercase"
        >desarrollando soluciones digitales.</span
      >
      <span class="first-letter:uppercase"
        >apasionado por el código y la creatividad web.</span
      >
    </h1>
    <div
      class="hero__main-content__links flex gap-16 lg:gap-10 xl:gap-20 2xl:gap-28 flex-col sm:mt-5 md:mt-10 lg:mt-16 2xl:mt-24 items-center justify-center sm:flex-row-reverse"
    >
      <a
        href="https://github.com/Diego-Aldao"
        target="_blank"
        class="hero__main-content__links__button text-sm group flex gap-2 items-center w-fit py-2 px-4 self-end"
      >
        <span
          class="text-secondary-white group-hover:text-main-white lg:text-lg font-medium custom-transition"
          >Perfil de Github</span
        >
        <ArrowRightTop
          class="h-5 w-5 md:w-7 md:h-7 relative md:group-hover:translate-x-[2px] md:group-hover:-translate-y-1 md:-translate-x-[2px] md:-translate-y-[2px] custom-transition text-secondary-white group-hover:text-main-white"
        />
      </a>
      <a
        href="#proyectos"
        class="hero__main-content__links__button text-sm group flex gap-2 items-center w-fit py-2 px-4 self-start"
      >
        <ArrowBottom
          class="h-5 w-5 md:w-7 md:h-7 relative group-hover:translate-y-[2px] -translate-y-[2px] custom-transition text-secondary-white group-hover:text-main-white"
        />
        <span
          class="text-secondary-white group-hover:text-main-white lg:text-lg font-medium custom-transition"
          >Últimos proyectos</span
        >
      </a>
    </div>
  </div>
</div>

<style>
  .hero {
    background-image: radial-gradient(
      circle at 50% 0,
      rgba(242, 242, 242, 0.3),
      rgba(0, 0, 0, 0) 80%
    );
  }
  .hero__noise {
    background-image: url("../../assets/644af0299bc01254815ae442_noise-overlay-2.png");
    background-position: 0 0;
    background-size: 200px;
  }
  .hero__noise:after {
    background: radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0) 10%, #101010);
  }
  .hero__main-content__nombre__punto {
    box-shadow: 0px 0px 5px var(--main-white);
  }
  .hero__main-content__title {
    text-shadow:
      0 5px 15px rgba(0, 87, 255, 0.2),
      0 -5px 15px rgba(255, 90, 0, 0.2),
      0 0 30px rgba(255, 255, 255, 0.2);
  }
  /*MEDIA QUERIES */
  @media (min-width: 768px) {
    .hero {
      background-image: radial-gradient(
        circle at 50% 0,
        rgba(242, 242, 242, 0.25),
        rgba(0, 0, 0, 0) 80%
      );
    }
  }
</style>
