---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Proyectos/Main.astro";
import Hero from "../components/Proyectos/Hero.astro";
import Proyectos from "../components/Proyectos/Proyectos.astro";
---

<Layout title="Diego Aldao — Desarrollador Web">
  <Main>
    <Hero />
    <Proyectos />
  </Main>
</Layout>
